* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.logo {
    margin-right: 10rem;
    background-color: rgb(51, 233, 172);
}

.pulsante-accedi  {
    margin-left: 10rem;
    background-color: rgb(51, 233, 172);
}

.testata,
.row-content {
    margin: 0 auto;
    max-width: 1200px;
    padding: 2rem 0;
}

.orange {
    background-color: rgb(255, 189, 68);
    border: 1px dashed black;
    padding: 1rem;
    width: calc(70% / 5);
}


.blue-block {
    color: white;
    padding: 8rem 2rem;

}

.rose-block {
    width: 50%;
    padding: 1rem;
    margin: 0 auto;
    min-height: 15rem;
}
/* FINE HEADER */

/* INIZIO MAIN */
.row-dark {
    background-color: lightgray;
}

.row-light {
    background-color: white;
}

img {
    
}
.crystal-block {
    width: 60%;
    min-height: 15rem;
    padding: 1rem;
}

.pink-block {
    width: 40%;  
    min-height: 15rem;
    padding: 1rem;

}

.green-block {
    min-height: 35rem;
    width: 100%;
    text-align: center;
    border: 1px dashed black;
    padding: 1rem;
}

/* INIZIO MAIN */

.row-black {
    background-color: rgb(35, 40, 46);
}

.viola {
    background-color: violet;
    min-height: 20rem;
    width: calc(100% / 6 * 2);
    border: 1px dashed black;
}

.sky {
    background-color: rgb(98, 245, 245);
    min-height: 20rem;
    width: calc(100% / 6);
    border: 1px dashed white;
    
}

hr {
    border: 1 solid white;
}

.bottoni {
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 4rem;
}

[type] {
    border: 1px dashed black;
    min-height: 2rem;
    padding: 0.5rem;
}



